@font-face {
    font-family: 'QuattrocentoSans';
    src: url('../public/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf');
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#SwitBy-Presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.PalomaIcono {
    fill: #9D7AD4;
}
#SwitBy-Paloma {
    margin-right: 10px;
}
#SwitBy-Title {
    color: #9D7AD4;
    font-weight: bolder;
}

#full-card {
    margin-bottom: 80px;
}

#email, #password, #name {
    background-color: #E9DCF9;
}

#btn-outline-lila {
    color: #ffffff;
    background-color: #9D7AD4;
    border-color: #9D7AD4;
}
#btn-outline-lila:hover {
    color: #9D7AD4;
    border-color: #9D7AD4;
    background-color: #ffffff00;
}